<h1>Yeni Film Oluştur</h1>

<form [formGroup]="createMovieForm" (ngSubmit)="createMovie()">
  <div class="mb-3">
    <label class="form-label" for="title">Adı</label>
    <input
      formControlName="title"
      class="form-control"
      type="text"
      name="title"
      id="title-id"
      [class.is-invalid]="
        createMovieForm.controls.title.errors?.required &&
        createMovieForm.controls.title.touched
      "
    />
    <div class="invalid-feedback">Bu Alanı Boş Geçmezsiniz</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Açıklaması</label>
    <textarea
      formControlName="description"
      class="form-control"
      type="textarea"
      name="description"
      id="description-id"
      [class.is-invalid]="
        createMovieForm.controls.description.errors?.required &&
        createMovieForm.controls.description.touched
      "
    ></textarea>
    <div class="invalid-feedback">Bu Alanı Boş Geçmezsiniz</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="image-url">Görsel Linki</label>
    <input
      formControlName="imageUrl"
      class="form-control"
      type="url"
      name="image-url"
      id="image-url-id"
      [class.is-invalid]="
        createMovieForm.controls.imageUrl.errors?.required &&
        createMovieForm.controls.imageUrl.touched
      "
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="categoryId-id">Kategorisi</label>
    <select
      formControlName="categoryId"
      class="form-select"
      name="categoryId"
      id="categoryId-id"
      [class.is-invalid]="
        createMovieForm.controls.categoryId.errors?.required &&
        createMovieForm.controls.categoryId.touched
      "
    >
      <option *ngFor="let item of categories" [value]="item.id">
        {{ item.category }}
      </option>
    </select>
    <div class="invalid-feedback">Bu Alanı Boş Geçmezsiniz</div>
  </div>
  <div class="d-flex gap-3">
    <button
      [disabled]="createMovieForm.invalid"
      class="btn btn-primary"
      type="submit"
    >
      Oluştur
    </button>
    <button
      [disabled]="createMovieForm.invalid"
      class="btn btn-danger"
      type="button"
      (click)="clearForms()"
    >
      Temizle
    </button>
  </div>
</form>
