<div class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a
      [routerLink]="''"
      [routerLinkActive]="'active'"
      rel="noopener noreferrer"
      class="navbar-brand"
      >Film Uygulaması</a
    >
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a
          [routerLink]="''"
          [routerLinkActive]="'active'"
          rel="noopener noreferrer"
          class="nav-link"
          >Ana Sayfa</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="'/movies'"
          [routerLinkActive]="'active'"
          rel="noopener noreferrer"
          class="nav-link"
          >Filmler</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="'/movies/create'"
          [routerLinkActive]="'active'"
          rel="noopener noreferrer"
          class="nav-link"
          >Film Oluştur</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="'/categories/create'"
          [routerLinkActive]="'active'"
          rel="noopener noreferrer"
          class="nav-link"
          >Kategori Oluştur</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="'/auth'"
          [routerLinkActive]="'active'"
          rel="noopener noreferrer"
          class="nav-link"
          >Giriş Yap / Kaydol</a
        >
      </li>
    </ul>
  </div>
</div>
