<h1>Create Movie</h1>

<form [formGroup]="createMovieForm" (ngSubmit)="createMovie()">
  <div class="mb-3">
    <label class="form-label" for="title">Title</label>
    <input
      formControlName="title"
      class="form-control"
      type="text"
      name="title"
      id="title-id"
      [class.is-invalid]="
        createMovieForm.controls.title.errors?.required &&
        createMovieForm.controls.title.touched
      "
    />
    <div class="invalid-feedback">Bu Alanı Boş Geçmezsiniz</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea
      formControlName="description"
      class="form-control"
      type="textarea"
      name="description"
      id="description-id"
      [class.is-invalid]="
        createMovieForm.controls.description.errors?.required &&
        createMovieForm.controls.description.touched
      "
    ></textarea>
    <div class="invalid-feedback">Bu Alanı Boş Geçmezsiniz</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="image-url">İmage URL</label>
    <input
      formControlName="imageUrl"
      class="form-control"
      type="url"
      name="image-url"
      id="image-url-id"
      [class.is-invalid]="
        createMovieForm.controls.imageUrl.errors?.required &&
        createMovieForm.controls.imageUrl.touched
      "
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="categoryId">Category</label>
    <select
      formControlName="category"
      class="form-select"
      name="category"
      id="category-id"
      [class.is-invalid]="
        createMovieForm.controls.category.errors?.required &&
        createMovieForm.controls.category.touched
      "
    >
      <option *ngFor="let item of categories" [value]="item.id">
        {{ item.category }}
      </option>
    </select>
    <div class="invalid-feedback">Bu Alanı Boş Geçmezsiniz</div>
  </div>
  <button
    [disabled]="createMovieForm.invalid"
    class="btn btn-primary"
    type="submit"
    (click)="createMovie()"
  >
    Create
  </button>
</form>
