<div class="list-group">
  <a
    [routerLink]="['/movies']"
    rel="noopener noreferrer"
    [class.active]="displayAll"
    class="list-group-item list-group-item-action"
    (click)="selectCategory()"
    >Tüm Kategoriler</a
  >
  <a
    *ngFor="let item of categories"
    routerLink="/movies/category/{{ item.id }}"
    rel="noopener noreferrer"
    class="list-group-item list-group-item-action"
    [class.active]="!displayAll && selectedCategory.id == item.id"
    (click)="selectCategory(item)"
    >{{ item.category | titlecase }}</a
  >
</div>
