<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <img
        src="assets/img/1.jpeg"
        class="img-fluid rounded-start"
        alt="Shazam Film Cover"
        srcset=""
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">Shazam</h2>
        <p class="card-text">
          Shazam! filminin Yönetmeni:David F. Sandberg ve Senaryo:Henry Gayden
          yer almaktadır.
        </p>
        <button type="submit" class="btn btn-sm btn-outline-primary">
          Detaylar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <img
        src="assets/img/1.jpeg"
        class="img-fluid rounded-start"
        alt="Shazam Film Cover"
        srcset=""
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">Shazam</h2>
        <p class="card-text">
          Shazam! filminin Yönetmeni:David F. Sandberg ve Senaryo:Henry Gayden
          yer almaktadır.
        </p>
        <button type="submit" class="btn btn-sm btn-outline-primary">
          Detaylar
        </button>
      </div>
    </div>
  </div>
</div>

<app-movie></app-movie>
